@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@plugin "daisyui";

 @plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: blue;
  --color-secondary: teal;
  --color-worning: red;
}




body {
  @apply bg-gradient-to-t from-slate-50/10 via-white/40 to-slate-50/20
}

/* bodo default style */
body {
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
}


/* loding card */
/* From Uiverse.io by Vosoone */ 
.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.loader {
  width: 100%;
}

.trace-bg {
  stroke: #333;
  stroke-width: 1.8;
  fill: none;
}

.trace-flow {
  stroke-width: 1.8;
  fill: none;
  stroke-dasharray: 40 400;
  stroke-dashoffset: 438;
  filter: drop-shadow(0 0 6px currentColor);
  animation: flow 3s cubic-bezier(0.5, 0, 0.9, 1) infinite;
}

.yellow {
  stroke: #ffea00;
  color: #ffea00;
}
.blue {
  stroke: #00ccff;
  color: #00ccff;
}
.green {
  stroke: #00ff15;
  color: #00ff15;
}
.purple {
  stroke: #9900ff;
  color: #9900ff;
}
.red {
  stroke: #ff3300;
  color: #ff3300;
}

@keyframes flow {
  to {
    stroke-dashoffset: 0;
  }
}

/* Čip */
.chip-body {
  rx: 20;
  ry: 20;
}

/* Text uvnitř čipu */
.chip-text {
  font-weight: bold;
  letter-spacing: 1px;
}

/* Piny */
.chip-pin {
  stroke: #444;
  stroke-width: 0.5;
  filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.6));
}

